*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Opens Sans";
}

section{
    padding: 1.25rem 0;
    text-align: center;
    background: white;
}

footer{
    padding: 1.25rem 0;
    text-align: center;
    background: lightgray;
    font-size: 1.05rem;
}