.contact{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    text-align: center;
}

.contact__container{
    flex-direction: column;
}

.contact__title{
    font-size: 2.25rem;
    padding: 1.5rem 0;
    text-align: left;
}

.contact__container-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact__item{
    width: 7rem;
    height: 7rem;
    margin-bottom: 2rem;
}

.contact__item-img{
    width: 100%;
    height: 100%;
}

.contact__name{
    font-size: 1.1rem;
    font-style: oblique;
    color: black;
}