/*@media screen and (min-width:768px){
    
}


@media screen and (min-width:991px){
    .container{
        padding: 0;
    }
    .navbar{
        padding: 0 2rem;
    }
    .navbar__links {
        display: flex;
        background: none;
        position: inherit;  
        height: 100%;
        flex-direction: row;
        font-size: 1.5rem;
        margin: 0;
        transform: none;
        transition: none;
        opacity: 1;
        width: fit-content;
        gap: 1rem;
    }
    .navbar__link{
        display: flex;
        height: 100%;
    }
    .navbar__menu {
        display: none;
    }
}*/




