*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Opens Sans";
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #bbbbbb;
}

.container{
    width: 100%;
    display: flex;
    max-width: 75rem;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.navbar{
    position: fixed;
    background: black;
    display: flex;
    justify-content: space-between;
    height: 3.75rem;
    width: 100%;
    z-index: 5;
}

.navbar__logo{
    display: flex;
    align-items: center;
}

.navbar__logo a{
    text-decoration: none;
    color: white;
}   

.navbar__title{
    font-size: 1.5rem;
    color: white;
}

.navbar__menu{
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    color: white;
}

.navbar__links{
    list-style: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.95);
    font-size: 2rem;
    margin: 0 -1.25rem;
    z-index: 10;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s;
}

.visible{
    display: flex;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__link{
    margin-top: 2rem;
}

.navbar__link a{
    color: #8e8e8e;
    transition: color 0.5s;
}

.navbar__link a:hover{
    color: tomato;
    transition: color 0.5s;
}

section{
    padding: 1.25rem 0;
    text-align: center;
    background: white;
}

.active a{
    color: red;
}
