.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.navbar{
    position: fixed;
    background: transparent;
    display: flex;
    justify-content: space-between;
    height: 3.75rem;
    width: 100%;
    z-index: 5;
}

.navbar__logo{
    display: flex;
    align-items: center;
}

.navbar__logo a{
    text-decoration: none;
    color: white;
}   

.navbar__title{
    font-size: 1.25rem;
    color: white;
}

.navbar__menu{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.navbar__links{
    list-style: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.95);
    font-size: 2rem;
    margin: 0 -1.25rem;
    z-index: 10;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s;
}

.visible{
    display: flex;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s;
    align-items: center;
}

.navbar__link{
    margin-top: 2rem;
}

.navbar__link a{
    color: white;
    transition: color 0.5s;
}

.navbar__link a:hover{
    color: tomato;
    transition: color 0.5s;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: orangered;
}

.active a{
    color: orangered;
}

@media screen and (min-width: 678px){
    .container{
        padding: 0;
    }
    .navbar{
        padding: 0 2rem;
    }
    .navbar__links {
        display: flex;
        background: none;
        position: inherit;  
        height: 100%;
        flex-direction: row;
        font-size: 1.25rem;
        margin: 0;
        transform: none;
        transition: none;
        opacity: 1;
        width: fit-content;
        gap: 1.5rem;
    }
    .navbar__link{
        display: flex;
        height: 100%;
    }
    .navbar__menu {
        display: none;
    }
}